<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobile.spk">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_patroli"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logo_patroli"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".RiwayatActivity"></activity>
        <activity android:name=".DetailAbsen" />
        <activity android:name=".admin.TambahMitra" />
        <activity android:name=".admin.MitraActivity" />
        <activity android:name=".admin.DetailDataAnggota" />
        <activity android:name=".admin.DataAnggotaActivity" />
        <activity android:name=".DetailCuti" />
        <activity android:name=".CutiActivity" />
        <activity android:name=".danru.DetailLaporanDanru" />
        <activity android:name=".danru.LaporanPatroliDanru" />
        <activity android:name=".danru.DaftarAbsensiHariIni" />
        <activity android:name=".danru.AbsensiDanru" />
        <activity android:name=".danru.FormInputJadwal" />
        <activity android:name=".danru.JadwalPersonalDanru" />
        <activity android:name=".danru.DetailJadwalUmumGedung" />
        <activity android:name=".danru.DetailJadwalUmumBulan" />
        <activity android:name=".danru.DetailJadwalHariIni" />
        <activity android:name=".danru.JadwalHariIniActivity" />
        <activity android:name=".anggota.FormInformasi" />
        <activity android:name=".anggota.Detailinformasi" />
        <activity android:name=".InformasiActivity" />
        <activity android:name=".anggota.FormAjukanCuti" />
        <activity android:name=".anggota.DetailJadwalUmumPergedung" />
        <activity android:name=".anggota.DetailJadwalUmum" />
        <activity android:name=".anggota.JadwalUmum" />
        <activity android:name=".anggota.DetailjadwalPersonal" />
        <activity android:name=".anggota.JadwalPersonal" />
        <activity android:name=".anggota.FormGedung" />
        <activity android:name=".anggota.FormAbsensi" />
        <activity android:name=".anggota.ScanBarcodeActivity" />
        <activity android:name=".anggota.JadwalActivityAnggota" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".InfoAplikasiActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MenuLoginActivity" />
    </application>

</manifest>